{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block extra_head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.js" integrity="sha512-ksSfTk6JIdsze75yZ8c+yDVLu09SNefa9IicxEE+HZvWo9kLPY1vrRlmucEMHQReWmEdKqusQWaDMpkTb3M2ug==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.css" integrity="sha512-lB03MbtC3LxImQ+BKnZIyvVHTQ8SSmQ15AhVh5U/+CCp4wKtZMvgLGXbZIjIBBbnKsmk3/6n2vcF8a9CtVVSfA==" crossorigin="anonymous" />
{% endblock %}

{% block title %}/{{ page.path }}/edit/{% endblock %}

{% block header %}
<nav class="navbar bg-light border-bottom">
  <div>
    <a href="{% url "page" "index" %}">wiki</a>/<a href="{% url "page" page.path %}">{{ page.path }}</a>/<a href="{% url "edit" page.path %}">edit</a>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="container-fluid h-100">


  <div class="row">

    <!-- Edit form -->

    <div class="col-md-3 border-right pt-3">

      <!-- Status -->
      <p>This page was last updated on {{ page.last_updated }} by {{ page.last_edited_by }}.</p>

      <!-- Page history -->
      <p><strong>History</strong></p>

      <div class="collapse" id="historyList">
        {% for item in history %}
        <p><a href="{% url 'history' item.path item.id %}">{{ item.last_updated }} by {{ item.last_edited_by }}</a></p>
        {% endfor %}
      </div>
      <p><a href="#historyList" data-toggle="collapse" class="btn btn-sm btn-primary">Show</a></p>

    </div>

    <div class="col-md-9 pl-0 pr-0">
        <form method="POST" action="{% url 'edit' page.path %}">
          {% csrf_token %}

          <div class="border-bottom">
            {{ form.content }}
          </div>


          <div class="text-right pt-2 pr-2">
            <div class="form-group form-check">
              {{ form.is_deprecated }} mark this page as deprecated.
            </div>
          </div>

          <div class="text-right pt-2 pr-2 pb-2 border-bottom">
            <a href="{% url 'page' page.path %}" class="btn btn-danger btn-large">Cancel</a>
            <input class="btn btn-primary btn-large" type="submit" value="Save Page">
          </div>
        </form>

          <div class="text-right pt-2 pr-2 pb-2 attachments">
            <form method="post" enctype="multipart/form-data" action="{% url 'upload' page.path %}">
              {% csrf_token %}
              {{ attachment_form }}
              <button style="display: inline-block;" type="submit" class="btn btn-primary btn-large">Upload File</button>
            </form>
          </div>
          <hr>
          {% for attachment in attachments|slice:"5" %}
            <div class="pl-2">
              <div style="display: inline-block;">
                <a style="display: inline-block;" target="_blank" href="{{ attachment.attachment.url }}">
                  {% load static %}
                  <img src="{{ attachment.attachment.url }}" alt="Attachment"  alt="File Upload" onerror="this.onerror=null; this.src='{% get_media_prefix %}file-upload.svg'" width="50" height="50">
                </a>
                <p style="display: inline-block;">{{ attachment.attachment.url }}</p>
              </div>

              <div class="pt-2 pr-2 pb-2" style="float:right;">
                <button onclick="navigator.clipboard.writeText('{{ attachment.attachment.url }}')" class="btn btn-primary btn-large">Copy Link</button>
                <form style="display: inline-block;" method="post" enctype="multipart/form-data" action="{% url 'delete' page.path attachment.id %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary btn-large">Delete</button>
                </form>
              </div>
              <hr>
            </div>
          {% endfor %}
          {% if attachments|length > 5 %}
          <div class="pt-2 pr-2 pb-2" style="float: right;">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapser" aria-expanded="false" aria-controls="collapser">
              Show more uploads
            </button>
          </div>
          <br>
          <br>
          <br>
          <div class="collapse" id="collapser">
            {% for attachment in attachments|slice:"5:" %}
              <div class="pl-2">
                <div style="display: inline-block;">
                  <a style="display: inline-block;" target="_blank" href="{{ attachment.attachment.url }}">
                    {% load static %}
                    <img src="{{ attachment.attachment.url }}" alt="Attachment"  alt="File Upload" onerror="this.onerror=null; this.src='{% get_media_prefix %}file-upload.svg'" width="50" height="50">
                  </a>
                  <p style="display: inline-block;">{{ attachment.attachment.url }}</p>
                </div>

                <div class="pt-2 pr-2 pb-2" style="float:right;">
                  <button onclick="navigator.clipboard.writeText('{{ attachment.attachment.url }}')" class="btn btn-primary btn-large">Copy Link</button>
                  <form style="display: inline-block;" method="post" enctype="multipart/form-data" action="{% url 'delete' page.path attachment.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-large">Delete</button>
                  </form>
                </div>
                <hr>
              </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      <div class="col-md-9 pl-0 pr-0">

      </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
  var simplemde = new SimpleMDE({ element: document.getElementById("id_content") });

  $(document).ready(function() {
    $('body').keydown(function (e) {

        // Detect ctrl-enter.
        if (e.ctrlKey && e.keyCode == 13) {
            $('form').submit();
        }
    });
  });
</script>
{% endblock %}