{% extends "base.html" %}

{% block title %}{{ page.wiki.slug }}/{{ page.path }}{% endblock %}

{% block header %}
<nav class="navbar bg-light mb-0 border-bottom">
    <div>
        <a href="{% url "page" "index" %}">wiki</a>/<a href="{% url "page" page.path %}">{{ page.path }}</a>
    </div>
</nav>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row pt-0">
        <div class="col-md-3 pr-0 pl-0 pt-3 mh-100 border-right" style="overflow-x: auto;">
            <div class="pl-3">
                {{ sidebar.render|safe }}
            </div>

            <div class="border-top d-flex align-items-center p-3">
                <div><a class="btn btn-large btn-primary" href="{% url "edit" "Sidebar" %}">Edit Sidebar</a></div>
            </div>
        </div>

        <div class="col-md-9 pl-0 pr-0">

            {% if page.is_deprecated %}
            <div class="alert alert-warning rounded-0" role="alert">
                This page has been marked as deprecated. It may be innacurate or out-of-date.
            </div>
            {% endif %}

            <!-- Page content -->
            <div class="ml-3 mr-3 pt-3">
            {{ page.render|safe }}
            </div>

            <!-- Edit bar -->
            <div class="border-top d-flex align-items-center p-3">
                <div class="flex-grow-1 text-muted">Last updated: {{ page.last_updated }} by {{ page.last_edited_by }}.</div>
                <div>
                    <a class="btn btn-large btn-warning" href="/wiki/feed/">RSS</a>
                    <a class="btn btn-large btn-primary" href="{% url "edit" page.path %}">Edit Page</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
  $(document).ready(function() {
    $('body').keydown(function (e) {

        // Detect ctrl-enter.
        if (e.ctrlKey && e.keyCode == 13) {
            window.location = '{% url "edit" page.path %}';
        }
    });
  });
</script>
{% endblock %}